<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LogLogViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <LogLogViewer.Properties.Settings>
            <setting name="SaveHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextBoxFont" serializeAs="String">
                <value>MS UI Gothic, 11.25pt</value>
            </setting>
            <setting name="OnlyPostscriptMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxReadSize" serializeAs="String">
                <value>48000</value>
            </setting>
            <setting name="MaxCharacterLength" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>GhostWhite</value>
            </setting>
            <setting name="ManualCharacterEncoding" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUseColorPattern" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUseFilterPattern" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterPatterns" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorPatterns" serializeAs="String">
                <value />
            </setting>
            <setting name="IsUseAlertMail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailPatterns" serializeAs="String">
                <value />
            </setting>
            <setting name="MailServer" serializeAs="String">
                <value />
            </setting>
            <setting name="MailPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MailUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="MailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="MailServerSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxLineLength" serializeAs="String">
                <value>100</value>
            </setting>
        </LogLogViewer.Properties.Settings>
    </userSettings>
</configuration>
